<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>free botting service!!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        </div>
        <div class="nav-links">
            <a href="ebay.html">eBay</a>
            <a href="tiktok.html">Tiktok</a>
            <a href="Us.html">who made us</a>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <h1>welcome to WeBot4u. free fast and reliable</h1>
        </div>
        <div class="sidebar">
            <h3>About Us</h3>
            <ul>
                <li class="question">What do we do?</li>
                <li class="answer">We provide top-notch botting services.</li>
            </ul>
            <ul>
                <li class="question">patch notes and what im adding</li>
                <li class="answer">i fixed proxies and im adding a watcher on september when im back in the Uk or one of my other devs will do it </li>
                
            </ul>
            <a class="discord-button" href="https://discord.gg/EJ3JXkZKzq" target="_blank">Join our Discord Server</a>
        </div>
    </div>
    <div class="popup" id="success-popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <p>Option selected successfully!</p>
            <div class="loading-bar"></div>
        </div>
    </div>
    <script>
        // Add JavaScript code here for handling the form submission and the success popup

        function closePopup() {
            document.getElementById("success-popup").style.display = "none";
        }

        function toggleDarkMode() {
          
        }
    </script>
</body>
</html>
