<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>WeBot4u</title>
</head>
<body>
    <div class="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('ebay') }}">eBay</a>
        <a href="{{ url_for('tiktok') }}">Tiktok</a>
        <a href="Us.html">who made us</a>
    </div>
    <h1>on holiday so icba to add it rn</h1>
    <h3>contact me on telegram for more info t.me/pachotk</h3>
</body>
</html>